body {
   margin: 0;
   padding: 0;
   font-family: "Roboto", Arial, sans-serif;
   font-size: 16px;
   line-height: 24px;
   font-weight: 400;
   color: #000000;
   background-color: #ffffff;
   text-transform: none;
}

.container {
   width: 1160px;
   margin: 0 auto;
   padding: 0 20px;
}

a {
   text-decoration: none;
}

.button {
   font: inherit;
   text-align: center;
   color: #ffffff;
   background-color: #fb565a;
   vertical-align: middle;
   text-transform: uppercase;
   border: none;
}

.button:hover,
.button:focus {
   background-color: #e74246;
}

.button:active {
   color: #e37376;
   background-color: #d7373b;
}

.button-green {
   background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
   background-color: #00bc6c;
}

.button-green:active {
   color: #4dc491;
   background-color: #00aa62;
}

.button-yellow {
   background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
   background-color: #eab534;
}

.button-yellow:active {
   color: #edc265;
   background-color: #e5a722;
}

.filter-button {
   color: #000000;
   background-color: #eeeeee;
}

.filter-button:hover,
.filter-button:focus {
   background-color: #dfdfdf;
}

.filter-button:active {
   color: #959595;
   background-color: #d5d5d5;
   border-top: 2px solid #bfbfbf;
}

.main-header {
   background-color: #eeeeee;
}

.main-navigation{
   font-size: 16px;
   line-height: 30px;
   display: flex;
   justify-content: space-between;
   min-height: 70px;
}

.main-header-logo {
   width: 160px;
   height: 65px;
}

.site-navigation {
   width: 700px;
}

.user-navigation {
   width: 200px;
}

.site-navigation,
.user-navigation {
   list-style: none;
   margin: 0;
   padding: 0;
}

.site-navigation a,
.user-navigation a {
   color: #000000;
   text-transform: uppercase;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
   color: #f87f81;
}

.site-navigation a:active,
.user-navigation a:active {
   color: #a6a6a6;
}

.slider {
   background-color: #eeeeee;
   margin-bottom: 80px;
   min-height: 430px;
}

.slide-title {
   font-size: 55px;
   line-height: 55px;
}

.page-title {
   background-color: #eeeeee;
   min-height: 240px;
}

.page-title h1 {
   font-size: 55px;
   line-height: 55px;
   margin: 0;
   padding: 0;
   padding-top: 80px;
   text-align: center;
   vertical-align: middle;
}

.breadcrumbs {
   list-style: none;
}

.breadcrumbs a {
   color: #b2b2b2;
   text-transform: uppercase;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
   color: #666666;
}

.breadcrumbs a:active {
   color: #000000;
}

.catalog-columns {
   display: flex;
   justify-content: space-between;
}

.filters {
   width: 260px;
   min-height: 780px;
}

.filter fieldset {
   border: none;
}

.filter legend {
   font-size: 18px;
   line-height: 30px;
   font-weight: 900;
   text-transform: uppercase;
}

.filter ul {
   list-style: none;
}

.filter input + label,
.filter input + label {
   color: #283136;
}

.filter input:hover + label,
.filter input:focus + label {
   color: #000000;
}

.filter input:disabled + label {
   color: #bec1c2;
}

.catalog {
   width: 760px;
   margin-bottom: 60px;
}

.catalog-list {
   list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
   flex-wrap: wrap;
}

.catalog-item {
   width: 360px;
   margin-bottom: 36px;
   margin-right: 40px;
   min-height: 615px;
}

.catalog-item:nth-child(2n) {
   margin-right: 0;
}

.pagination-list {
   list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
}

.pagination-item a {
   background-color: #eeeeee;
   color: #000000;
}

.pagination-item a:hover,
.pagination-item a:focus {
   background-color: #dfdfdf;
}

.pagination-item a:active {
   background-color: #d5d5d5;
   color: #959595;
   border-top: 2px solid #bfbfbf;
}

.pagination-item-current a {
   background-color: #ffffff;
   color: #000000;
   border: 2px solid #dbdbdb;
}

.features {
   margin-bottom: 80px;
}

.features-list {
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
}

.features-item {
   width: 300px;
   margin-right: 100px;
}

.features-item h3 {
   font-size: 24px;
   line-height: 30px;
   font-weight: bold;
   text-transform: uppercase;
}

.features-info {
   display: flex;
   justify-content: space-between;
   margin-bottom: 65px;
}

.features-info h2 {
   font-size: 45px;
   line-height: 45px;
   font-weight: 500;
}

.features-info-left {
   width: 680px;
}

.features-info-right {
   width: 360px;
}

.features-info-title {
   font-weight: 900;
   text-transform: uppercase;
}

.percentage-list {
   list-style: none;
}

.percentage-item {
   font-size: 45px;
   line-height: 10px;
   font-weight: 900;
}

.percentage-item sup {
   font-weight: 500;
}

.percentage-text-list {
   list-style: none;
}

.percentage-text-item {
   font-size: 16px;
   line-height: 18px;
}

.logo-partners {
   margin-top: 46px;
   margin-bottom: 42px;
}

.logo-partners-list {
   list-style: none;
   display: flex;
   justify-content: space-between;
}

.map-area {
   background-image: url('../img/map.jpg');
   background-repeat: no-repeat;
   background-position: 0 0;
}

.write-to-us {
   padding: 50px;
   background-color: #ffffff;
   width: 320px;
   height: 308px;
}

.write-to-us b {
   font-size: 18px;
   line-height: 30px;
   font-weight: 900;
   text-transform: uppercase;
}

.write-to-us p {
   font-size: 16px;
   line-height: 18px;
   color: #666666;
}

.main-footer .container {
   display: flex;
   justify-content: space-between;
}

.footer-social {
   width: 280px;
}

.footer-social ul {
   list-style: none;
   display: flex;
}

.footer-social a {
   color: #000000;
}

.social-button {
   background-color: #e1e1e1;
}

.footer-suggestion {
   width: 580px;
}

.footer-suggestion h2 {
   font-size: 36px;
   line-height: 36px;
   font-weight: 900;
}

.footer-suggestion p {
   line-height: 22px;
}
